
.event{

    .dropEvent{
        z-index: 1;
        line-height: 26px;
        display: inline-block;
        width: 540px;
        span{
            display: inline-block;
        }
        div{
            display: inline-block;
        }
    }
}
