
.event{
    .dropEvent{
        display: inline;
        width: 540px;
        span{
            display: inline-block;
        }
        div{
            display: inline-block;
        }
        div.button{
            color: crimson;
        }
        div.details {
            position:relative;
            color: white;
            background-image: url("../images/buttons/detail_normal.png");
            width: 60px;
            height: 20px;
            top: 5px;
            cursor: pointer;
        }
        div.details:hover {
            background-image: url("../images/buttons/detail_hover.png");
        }
        div.details:after {
            background-image: url("../images/buttons/detail_click.png");
        }
    }
}
