@import '../Component.scss';
.thumbnail {
    position: absolute;
    top:135px;
    height:100px;
    right:0px;
    z-index: -1;
    background-color:white;
    left:198px;
}

.thumbnail .content {
    margin:auto;
    height: 100px;
}

.thumbnail .focus {
    height:98px;
    width:150px;
    margin:auto;
    border-top:1px solid white;
    border-bottom:1px solid white;
    border-left:5px solid white;
    border-right:5px solid white;
    background-size: auto 100%;
    -webkit-filter: none;
}