@import '../../styles/common.scss';

.inventory {
    position:absolute;
    top:360px;
    left:0px;
    .inventory-cover {
        position:absolute;
        top:-5px;
    }
    .inventory-btn {
        position:absolute;
        top: 0px;
        left: 0px;
        width:182px;
        .action {
            padding-top:5px;
            .inventory-pick {
                clear:left;
                cursor: pointer;
                float:left;
                margin-left:22px;
                margin-top:18px;
                margin-bottom: 25.5px;
                border-radius:23px;
                width:46px;
                height:46px;
            }
            .inventory-pick:hover {
            	background: rgba(251, 241, 221, 0.13);
            }
            img {
                float:right;
                clear:right;
                margin-bottom:8px;
                &:hover {
                    cursor:pointer;
                }
            }
        }
    }
}

.inventory div.protector {
    width: 204px;
    height: 90px;
    &:first-child {
        margin-top: 0px;
    }

    div.left {
        width:85px;
        float:left;
        margin: 22px 10px 0px 12px;
        img.avator {
            float:left;
            margin-left:10px;
            width: 45px;
            height: 45px;
        }
        img.modifier {
            clear:both;
            float:left;
            margin-left: 80px;
            margin-top:0px;
            width:12px;
            height:12px;
        }
    }
    div.right {
        color: $fontcolor;
        // padding-left: 11px;
        width: 40px;
        display: inline-block;
        font-size: 13px;
        font-weight: 800;
        text-align: left;
        padding-top:8px;
        .item {
            margin-top:6px;
            margin-bottom: 0px;
        }
    }

    .action {
        width:18px;
        height:71px;
        margin-right:27px;
        display:block;
        float:right;
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
        border-color: transparent; // 若是本身具有 border 请删除此属性
        box-shadow: none;
    }
}