@import '../../styles/common.scss';

// .tool-bar ul li .weapon-item {
//     display: inline-block;
// }

// .tool-bar ul li button.right {
//     float: right;
// }

// .tool-bar ul li .dye-item {
//     display: inline-block;
//     // border: 1px solid gray;
//     width: 15px;
//     height: 15px;
// }

.tool-bar {
    position: absolute;
    top: 52px;
    // height: 500px;
    background-color: rgba(255, 255, 255, 0);
    right: 0px;
    left: 208px;

    ul {
        padding-left: 0px;
        padding-top: 5px;
        margin: 0px;

        // border-right: 1px solid gray;
        li {
            display: inline;
            // margin: 5px;
            height: 50px;
            margin-top: 5px;
            color: white;
            .dye-item {
                display: inline-block;
                // border: 1px solid gray;
                width: 35px;
                height: 50px;
                img{
                    margin-top: 3px;
                    margin-left: 2px;
                }
            }

            button.right {
                float: right;
            }

            .weapon-item {
                display: inline-block;
            }


        }
    }
    .inline-brick {
        height: 69px;
        width: 832px;

        &.world {
            background-image: url('../../images/world/toolbar.png');
        }

        &.dye {
            padding-left: 70px;
            background-image: url('../../images/home/toolbar.png');

            
            div.select_board{
                width: 630px;
                margin-left:4px;
                div.dropdown {
                    position: absolute;
                    margin-top: 10px;
                    display: inline-block;
                    height: 44px;
                    width: 346px;
                    background-color: rgba(255, 255, 255, 0);
                    
                    div.btn_left {
                        float: left;
                        display: inline-block;
                        color: $alieninfo_blue;
                        line-height: 44px;
                        text-align: center;
                        border: none;
                        width: 260px;
                        height: 44px;
                        background-color: rgba(255, 255, 255, 0);
                        background-image: url('../../images/home/select_board.png');
                    }
    
                    div.btn_right {
                        display: inline-block;
                        position:relative;
                        left:-10px;
                        float: left;
                        // margin-left: -7px;
                        cursor: pointer;
                        border: none;
                        width: 82px;
                        height: 44px;
                        background-color: rgba(255, 255, 255, 0);
                        background-image: url('../../images/home/select_btn.png');
                    }
                }
                div.select_right{
                    // float: right;
                    display: inline-block;
                    margin-left: 345px;
                    margin-top: 15px;
                    // margin-top: -50px;
                    width: 280px;
                    .select_right_inline{
                        // 
                        float: left;
                        height: 31px;
                        li {
                            // padding-top: 10px;
                            margin-top: 0px;
                            height: 31px;
                            width: 35px;
                            display: inline-block;
                            .dye-item {
                                border-radius:4px;
                                margin-left: 0px;
                                display: inline-block;
                                margin-top:5px;
                                margin-left:5px;
                                width: 21px;
                                height: 21px;
                                margin-right: 3px;

                            }
                            .cover {
                                position:relative;
                                top:-32px;
                                width:30px;
                                height:30px;
                                background-image:url("../../images/home/dyepick.png")
                            }
                            &#selected{
                                // margin-top: 0px !important;
                                // border: 1px solid $alieninfo_blue;
                                img{
                                    
                                    // margin-top: 3px;
                                    // margin-left: 2px;
                                    padding-bottom: 5px;
                                } 
                            }
                            // background-color: red;
                            // height: 50px !important;
                            
                        }
                        li.selected {
                            .cover {
                                position:relative;
                                top:-32px;
                                width:30px;
                                height:30px;
                                background-image:url("../../images/home/dyepicked.png")
                            }
                        }
                    }
                    // margin-right: 140px;
                }
                div.pixel{
                    width: 32px;
                    float: left;
                    display: inline-block;
                    margin-top: -40px;
                    margin-left: 636px;
                    font-size:23px;
                    font-weight:800;
                    li#PPH{
                        color: #eee;
                        float: right;
                        width: 20px;
                        height: 44px;
                    }
                }
            }
            
            
            
            div.pph{
                margin-top: -20px;
                margin-left: 620px;
            }
        }


        .minionList {
            float: left;
            margin-top: 10px;
            margin-left: 12px;
            display: inline;

            .minionItem {
                padding-left: 2px;
                width: 55px;
                height: 56px;

                div.minion-avator {
                    display: inline-block;
                    background-color: #96deee;
                    //background-image: url('../../images/world/minion_back.png');
                    padding: 2px;
                    margin-left:4px;
                    border-radius: 10px;
                    width:40px;
                    height:40px;
                }

                div.minion-avator img {
                    width: 36px;
                    height: 36px;
                    border-radius: 10px;
                }
                div.minion-avator .cover {
                    position:relative;
                    top:-46px;
                    left: -10px;
                    height:55px;
                    width:56px;
                    background-image: url('../../images/world/cover.png');
                }
            }

            // .minionItem:first-child{
            //     margin-left: 0px;
            // }
        }

        .minionDamage {
            float: right;
            // margin-left: 400px;
            margin-top: 6px;
            font-weight: bold;
            font-size: 14px;
            width: 320px;
            // display: inline;
            li {
                color: $fontcolor;
                text-shadow:
                -1px -1px 1px #111, 
                1px 1px 1px #111;
            }
        }

    }
}

.sketch {
    float: right;
        margin-top: -50px;
    button {
        float: right;
        margin-top: -50px;
    }
}

.sketch_btn{
    // float: right;
    // margin-top: 0px;
    position: absolute;
    right: 0px;
    top: -51px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: url("../../images/cursors/cursor.png"), pointer;
}

.protect_btn {
    border: none;
    padding:0px;
    position: absolute;
    right: 0px;
    top: -53px;
    background-color: rgba(255, 255, 255, 0);
    img {
        background-color: rgba(255, 255, 255, 0);
    }
}

.rank-top {
    position: absolute;
    background-image: url('../../images/rank/rank-top.png');
    top:0px;
    padding-top: 52px;
    height: 236px;
    background-color: rgba(255, 255, 255, 0);
    right: 0px;
    left: 200px;
    div.top-info {
        height: 80px;
        color: #dddddd;
        padding-top:18px;
        div.address {
            font-size: 30px;
            margin-left: 100px;
            width:285px;
            float:left;
        }
        div.punkixel-earned {
            font-size: 30px;
            float:left;
            text-align:center;
            margin-left:90px;
            width:130px;
        }
        div.punkixel-pph {
            float:left;
            text-align:center;
            font-size: 30px;
            margin-left: 90px;
            width: 130px;
        }
    }
}
.thumbnail-frame {
    position:absolute;
    height:105px;
    color: #dddddd;
    .thumbnail-single {
        position: absolute;
        margin-left:375px;
    }
    img {
        position: absolute;
        top:-5px;
        margin-left:360px;
    }
    div.address {
        font-size: 30px;
        margin-left: 100px;
        width:285px;
        position: absolute;
        left: 10px;
        top: 25px;
    }
    div.punkixel-earned {
        font-size: 25px;
        text-align:center;
        position: absolute;
        left: 750px;
        top: 12px;
        width:130px;
    }
    div.punkixel-pph {
        font-size: 25px;
        text-align:center;
        position: absolute;
        left: 750px;
        top: 55px;
        width:130px;
    }
}
