@import '../../styles/common.scss';

// .tool-bar ul li .weapon-item {
//     display: inline-block;
// }

// .tool-bar ul li button.right {
//     float: right;
// }

// .tool-bar ul li .dye-item {
//     display: inline-block;
//     // border: 1px solid gray;
//     width: 15px;
//     height: 15px;
// }

.tool-bar {
    position: absolute;
    top: 30px;
    height: 500px;
    padding-top: 23px;
    // background-color: #777;
    background-color: rgba(255, 255, 255, 0);
    right: 0px;
    left: 208px;

    ul {
        padding-left: 0px;
        padding-top: 5px;
        margin: 0px;

        // border-right: 1px solid gray;
        li {
            display: inline;
            // margin: 5px;
            margin-top: 5px;
            color: white;

            .dye-item {
                display: inline-block;
                // border: 1px solid gray;
                width: 31px;
                height: 46px;
            }

            button.right {
                float: right;
            }

            .weapon-item {
                display: inline-block;
            }


        }
    }
    .inline-brick {
        height: 69px;
        width: 832px;

        &.world {
            background-image: url('../../images/world/toolbar.png');
        }

        &.dye {
            padding-left: 70px;
            background-image: url('../../images/home/toolbar.png');

            div.dropdown {
                margin-top: 5px;
                height: 44px;
                background-color: rgba(255, 255, 255, 0);
                
                button.btn_left {
                    color: $alieninfo_blue;
                    border: none;
                    width: 275px;
                    background-color: rgba(255, 255, 255, 0);
                    background-image: url('../../images/home/select_board.png');
                }

                button.btn_right {
                    margin-left: -7px;
                    border: none;
                    width: 51px;
                    background-color: rgba(255, 255, 255, 0);
                    background-image: url('../../images/home/select_btn.png');
                }
            }
            div.select_right{
                float: right;
                margin-top: 5px;
                margin-right: 140px;
            }
            li#PPH{
                width: 51px;
                height: 44px;
                // padding-bottom: 10px;
                padding-left: 25px;
            }
            div.pph{
                margin-top: -20px;
                margin-left: 620px;
            }
        }


        .minionList {
            float: left;
            margin-top: 10px;
            margin-left: 12px;
            display: inline;

            .minionItem {
                padding-left: 5px;
                width: 44px;
                height: 44px;

                div.minion-avator {
                    display: inline-block;
                    // background-color:#eee;
                    padding: 2px;
                    border-radius: 12px;
                }

                div.minion-avator img {
                    background-color: #555;
                    width: 36px;
                    height: 36px;
                    border-radius: 10px;
                }
            }

            // .minionItem:first-child{
            //     margin-left: 0px;
            // }
        }

        .minionDamage {
            float: right;
            // margin-left: 400px;
            margin-top: 6px;
            font-weight: bold;
            font-size: 14px;
            width: 320px;

            // display: inline;
            li {
                color: $fontcolor;
            }
        }

    }
}

.sketch {
    float: right;
        margin-top: -50px;
    button {
        float: right;
        margin-top: -50px;
    }
}

.sketch_btn{
    // float: right;
    // margin-top: 0px;
    position: absolute;
    right: 0px;
    top: -30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}