body {
   background-color:#999;
}
.status {
    position: absolute;
    top: 0px;
    left: 210px;
    right: 60px;
    height:30px;
    background-color:#fff;
}
.status ul {
    padding:0px;
    margin:0px;
    float:right;
}

.status ul li {
    display:inline;
    margin:10px;
}

.tool-bar ul li .weapon-item {
    display: inline-block;
}

.tool-bar ul li .dye-item {
    display: inline-block;
    border: 1px solid gray;
    width:15px;
    height:15px;
}



.left-menu {
    position: absolute;
    left:40px;
    top:00px;
    width:170px;
    background-color:#333;
    bottom:0px;
}

.main-board {
    position: absolute;
    top:180px;
    height:400px;
    background-color: #eee;
    right:60px;
    left:210px;
}

.drawer {
    height: 400px;
    width: 900px;
    background-color: #333;
    margin: auto;
}

.main-board .drawer cavans {
    height:400px;
    width: 900px;
}

.thumbnail {
    position: absolute;
    top:80px;
    height:100px;
    right:60px;
    left:210px;
}

.thumbnail .content {
    margin:auto;
    width: 900px;
    height: 100px;
}

.thumbnail .focus {
    height:98px;
    width:150px;
    margin:auto;
    border-top:1px solid white;
    border-bottom:1px solid white;
    border-left:5px solid white;
    border-right:5px solid white;
    background-size: auto 100%;
    -webkit-filter: none;
}

.tool-bar {
    position: absolute;
    top:30px;
    height:50px;
    background-color: #ddd;
    right:60px;
    left:210px;
}

.tool-bar ul {
    padding:0px;
    margin:0px;
}

.tool-bar ul div.dropdown {
    display:inline;
}



.tool-bar ul li {
    display:inline;
    margin:10px;
}

.inline-brick {
    display:inline;
}



.left-menu .padding-top {
    height: 0px;
    display: block;
    clear: both;
}
.left-menu button {
    height: 60px;
    margin: 10px;
    width: 150px;
    display: block;
    font-size: 20px;
    font-family: "Impact";
    font-weight: bold;
    clear: both;
}

.left-menu div.staking {
    display:block;
    width:150px;
    height:200px;
    margin:20px 10px 10px 10px;
    border:4px solid black;
    background-color:#bbb;
    background-size: auto 100%;
    background-image: url("./hero.jpeg");
}

.ranking-list {
    position: absolute;
    top:30px;
    bottom: 10px;
    background-color: #aaa;
    right:60px;
    left:210px;
}


.ranking-list ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
}

.ranking-list li {
    height:100px;
    border: 1px solid black;
    margin: 10px;
}

.world-board {
    position: absolute;
    top:180px;
    height:400px;
    background-color: #aaa;
    right:60px;
    left:210px;
}

.alarm {
    position: absolute;
    top: 210px;
    display: inline;
    left:690px;
}

.animation {
    position:absolute;
    top:180px;
    height:400px;
    right:60px;
    left:210px;
}
.animation .body {
    margin:auto;
    right:60px;
    left:210px;
    width:900px;
}

div.hide {
    display:none;
}

div.drop {
    position:absolute;
    top:550px;
    height:40px;
    right:60px;
    left:210px;
}

.drop .body {
    margin:auto;
    right:60px;
    left:210px;
    width:900px;
}

div.minion {
    position:absolute;
    top:280px;
    height:30px;
    right:60px;
    left:210px;
}

.minion .body {
    margin:auto;
    right:60px;
    left:210px;
    width:900px;
}

div.drop img {
    position:relative;
}

div.minion.img {
    position:relative;
}