body {
   background-color:#999;
}

div.screen {
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color:#666;
}

div.application {
  position:relative;
  height:800px;
  width:1180px;
  margin:auto;
  border:1px solid gray;
  top:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.status {
    position: absolute;
    top: 0px;
    left: 170px;
    right: 0px;
    height:30px;
    background-color:#fff;
}
.status ul {
    padding:0px;
    margin:0px;
    float:right;
}

.status ul li {
    display:inline;
    margin:10px;
}
.tool-bar ul li .weapon-item {
    display: inline-block;
}

.tool-bar ul li button.right {
    float:right;
}

.tool-bar ul li .dye-item {
    display: inline-block;
    border: 1px solid gray;
    width:15px;
    height:15px;
}

.tool-bar {
    position: absolute;
    top:30px;
    height:50px;
    background-color: #777;
    right:0px;
    left:170px;
}

.tool-bar ul {
    padding:5px;
    margin:0px;
    border-right:1px solid gray;
}

.tool-bar ul div.dropdown {
    display:inline;
}



.tool-bar ul li {
    display:inline;
    margin:5px;
    color:white;
}


.left-menu {
    position: absolute;
    left:00px;
    top:0px;
    width:170px;
    background-color:#333;
    bottom:0px;
}

.main-board {
    position: absolute;
    top:190px;
    height:400px;
    background-color: white;
    right:0px;
    left:170px;
}

.drawer {
    height: 400px;
    background-color: transparent;
    margin: auto;
}

.main-board .drawer cavans {
    height:400px;
    width: 900px;
}
.guest-info {
    position:absolute;
    top:598px;
    height:200px;
    left:170px;
    right:300px;
    background-color:white;
}

.guest-info div.event {
    border: 1px solid gray;
    border-radius: 4px;
    padding:5px;
    margin:5px;;
    height:60px;
}
.alien-info {
    position:absolute;
    padding:10px;
    top:598px;
    height:200px;
    left:880px;
    right:0px;
    color: white;
    font-size:12px;
    background-color:#333;
}

.alien-info .alien-basic {
    height:60px;
}

.alien-info .alien-basic-avator {
    float:left;
    height:50px;
    width:50px;
    border:1px solid gray;
}

.alien-info img {
    height:50px;
    width: 50px;
}

.alien-info div.right {
    width:220px;
    float:right;
    margin-left:5px;
    border:1px solid gray;
}

.thumbnail {
    position: absolute;
    top:85px;
    height:100px;
    right:0px;
    background-color:white;
    left:170px;
}

.thumbnail .content {
    margin:auto;
    height: 100px;
}

.thumbnail .focus {
    height:98px;
    width:150px;
    margin:auto;
    border-top:1px solid white;
    border-bottom:1px solid white;
    border-left:5px solid white;
    border-right:5px solid white;
    background-size: auto 100%;
    -webkit-filter: none;
}



.inline-brick {
    display:inline;
}



.left-menu .padding-top {
    height: 0px;
    display: block;
    clear: both;
}

.left-menu .protector {
  margin:0px 10px 0px 10px;
  clear:both;
  color:white;
  background-color:#777;
  width:148px;
  height:90px;
  border: 1px solid gray;
  border-radius: 4px;
  padding:5px;
  margin-bottom:5px;
}

.left-menu .protector .left{
  float:left;
  height:60px;
  width:60px;
  border-radius: 4px;
  background-color: #555;
  border:1px solid gray;
}

.left-menu .protector .right{
  width: 70px;
  margin-left:5px;
  float:right;
}

.left-menu .protector .right div {
    font-size:12px;
    margin:1px 3px 3px 0px;
    border:1px solid #333;
    color:white;
    border-radius:3px;
    padding:2px 4px 2px 4px;
}

.left-menu .protector img {
  width:50px;
  height:50px;
  margin:5px;
}
.left-menu .protector .button {
    display: block;
    border: 1px solid #666;
    border-radius: 5px;
    background-color:#555;
    width:60px;
    height:20px;
    text-align:center;
    font-size:9px;
  }

.minion-selector img {
    float:left;
    width:50px;
    margin-right:10px;
    height:50px;
  }

.left-menu .button-left {
    border:1px solid gray;
    border-radius: 4px;
    height: 30px;
    margin: 0px 5px 5px 10px;
    width: 72px;
    display: inline-block;
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
    clear: both;
    background-color: #ccc;
    color: #333;
}

.left-menu .button-right {
    border: 1px solid gray;
    border-radius: 4px;
    height: 30px;
    margin: 0px 5px 5px 0px;
    width: 72px;
    display: inline-block;
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
    clear: both;
    background-color: #ccc;
    color: #333;
}

.left-menu div.staking {
    display:block;
    width:150px;
    height:200px;
    margin:20px 10px 5px 10px;
    border:4px solid black;
    background-color:#bbb;
    background-size: auto 100%;
    background-image: url("./hero.jpeg");
}

.ranking-list {
    position: absolute;
    top:30px;
    bottom: 10px;
    background-color: #aaa;
    right:0px;
    left:170px;
}


.ranking-list ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
}

.ranking-list li {
    height:100px;
    border: 1px solid black;
    margin: 10px;
}

.world-board {
    position: absolute;
    top:180px;
    height:400px;
    background-color: #aaa;
    right:0px;
    left:170px;
}

.alarm {
    margin:0px;
}

.animation {
    position:absolute;
    top:180px;
    height:400px;
    right:0px;
    left:170px;
}
.animation .body {
    margin:auto;
    right:0px;
    left:170px;
    width:1000px;
}

div.drop {
    position:absolute;
    top:550px;
    height:40px;
    right:0px;
    left:170px;
}

.drop .body {
    margin:auto;
    right:0px;
    left:170px;
    width:900px;
}

div.minion {
    position:absolute;
    top:280px;
    height:30px;
    right:0px;
    left:170px;
}

.minion .body {
    margin:auto;
    right:0px;
    left:170px;
    width:900px;
}

div.drop img {
    position:relative;
}

div.minion.img {
    position:relative;
}


div.minion-avator {
    display: inline-block;
    background-color:#eee;
    padding:2px;
    border-radius:12px;
}

div.minion-avator img {
    background-color:#555;
    width:38px;
    height:38px;
    border: 1px solid gray;
    border-radius: 10px;
}
