div.market-board {
    background-image:url("../../images/market/market.jpg");
    position: absolute;
    top: 240px;
    height: 400px;
    right: 0px;
    left: 198px;
    .rgb-element {
       width:180px;
       height:250px;
       float:left;
       margin-left:45px;
       margin-top:70px;
       background-image:url("../../images/market/dimond.png");
    }
}
