@import '../../styles/common.scss';

.status {
    position: absolute;
    top: 0px;
    left: 208px;
    // right: 0px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    
    ul {
        padding: 0;
        margin: 0px;
        margin-top: 25px;
        float: right;

        li {
            display: inline-block;
            width: 104px;
            text-align: left;
            padding-left: 30px;
            color: #fef4d6;
            font-size:14px;
            font-weight:800;
        }

        // li:first-child {
        //     margin-left: 50px;
        //  }
    }
}