.bottom_left {
    img {
        position: absolute;
        bottom: 0px;
        left: 200px;
    }
}

.bottom_right {
    img {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}