.hover{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

.cursor-paint {
  cursor: url("../images/cursors/cursor-paint.png") 16 13, pointer;
}
.cursor-default {
  cursor: default;
}

.cursor-top {
  cursor: url("../images/cursors/cursor-top.png") 16 16, pointer;
}
.cursor-left {
  cursor: url("../images/cursors/cursor-left.png") 16 16, pointer;
}
.cursor-bottom {
  cursor: url("../images/cursors/cursor-bottom.png") 16 16, pointer;
}
.cursor-right {
  cursor: url("../images/cursors/cursor-right.png") 16 16, pointer;
}
.cursor-left-top {
  cursor: url("../images/cursors/cursor-left-top.png") 16 16, pointer;
}
.cursor-left-bottom {
  cursor: url("../images/cursors/cursor-left-bottom.png") 16 16, pointer;
}
.cursor-right-top {
  cursor: url("../images/cursors/cursor-right-top.png") 16 16, pointer;
}
.cursor-right-bottom {
  cursor: url("../images/cursors/cursor-right-bottom.png") 16 16, pointer;
}

div.loading {
  // user-select: none;
  position: relative;
  height: 270px;
  width: 645px;
  margin: auto;
  border: 1px solid gray;
  top: 50%;
  border:none;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-image: url("../images/loading.png");
  background-size:contain;
  padding-top:200px;
  img {
    height:270px;
    width: 645px;
    position: absolute;
    top: 0px;
    left: 0px;
  };
  .loading-bar {
    height: 60px;
    background-image:url("../images/loading/lv0_brwon_bg.png");
    background-size:contain;
    .progress {
      text-align:center;
      position:relative;
      top:34px;
      margin-left: 19px;
      height: 9px;
      border-radius: 5px;
      background-color: #95dcf6;
    }
  }
  .loading-bar-cover {
    height: 60px;
    position:relative;
    top:-60px;
    background-image:url("../images/loading/lv4_loadingbar.png");
    background-size:contain;
    .progress {
      text-align:center;
      height: 20px;
    }
  }
  .connect-account {
    height: 60px;
    position:relative;
    top:-60px;
    div {
      margin:auto;
      padding:10px;
      width: 200px;
      border-radius: 5px;
      text-align: center;
      background-color: white;
      cursor: pointer;
    }
    div:hover {
      background-color: orange;
      color: white;
    }
  }

}
